@font-face {
    font-family: "brand-font";
    src: url("../assets/PlaylistScript.otf");
}

/* ========== Homepage ========== */

body.homepage {
    background-image: url("../images/music-background.png");
    background-size: cover;
}

body {
    font-family: "Open sans", sans-serif;
}

/* ========== End Homepage ========== */

/* ========== General ========== */

p {
  text-align: center;
  font-style:normal;
  font-size: .80em;
  margin: 1.2em;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

img {
  cursor: pointer;
  width: 250px;
  height: 250px;
  padding: 5%;
  margin: auto;
}

.hidden {
  display: none;
}

/* ========== End General ========== */


/* ========== Grid Items ========== */

.grid, .grid > *{
    display: grid;
}

.grid-column-3 {
    grid-template-columns: 1fr repeat(1, minmax(auto, 33%)) 1fr;
}

/* ========== End Grid Items ========== */


/* ========== Sections ========== */

.main-heading {
 color: #957DAD;
 font-size: 3.5em;
 text-align: center;
 font-family: "brand-font";
 letter-spacing: .10em;
 font-size: 4em;
 filter: drop-shadow(0px 2px 1px #FFDFD3);
}

.icon-label {
  text-align: center;
  font-style: normal;
  font-size: 2em;
  color: gray;
  filter: drop-shadow(0px 2px 1px #FFDFD3);
  margin-bottom: .5em;
}

.icon-label:hover {
    filter: drop-shadow(0px 2px 1px #D291BC);
}

/* ========== End Sections ========== */
