* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "brand-font";
    src: url("../assets/PlaylistScript.otf");
}

@font-face {
    font-family: "light-font";
    src: url("../assets/sofiapro-light.otf");
}

body {
  font-size: 16px;
}

body.homepage {
    background-image: url("../images/music-background.png");
    background-size: cover;
}

.hidden {
  display: none;
}

p {
  text-align: center;
  /* font-style:normal; */
  font-family: "light-font";
  font-size: .20em;
  margin: 1.2em;
  color: #333333;
}

.main-heading {
 color: #957DAD;
 font-size: 1.5em;
 text-align: center;
 font-family: "brand-font";
 letter-spacing: .10em;
 filter: drop-shadow(0px 2px 1px #FFDFD3);
}

#svg-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.container {
  /* display: flex; */
  justify-content: center;
}

.container img {
  height: 50px !important;
  width: 50px !important;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

h4.icon-label {
  margin-top: .2em;
  text-align: center;
  font-family: "light-font";
  font-size: .8em;
  color: gray;
  filter: drop-shadow(0px 2px 1px #FFDFD3);
}

.icon-label:hover {
    filter: drop-shadow(0px 2px 1px #D291BC);
}





/* #trebleClef {
  height: 50px !important;
  width: 50px !important;
}

#trombone {
  height: 50px !important;
  width: 50px !important;
} */

/* interactive SVG rules here */

}
